@font-face {
    font-family: 'Roboto';
    src: url('../lib/fonts/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('../lib/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../lib/fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../lib/fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

body {
    margin: 0;
    font-family: 'Roboto';
}

.add-form {
    background: #f1f1f1;
    padding: 80px 0 30px;
}

.title {
    background: #4aac00;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

ul {
    list-style: none;
    padding: 15px;
    margin-top: 65px;
}

#home_list li {
    display: flex;
    box-shadow: 2px 1px 7px #d3d0a6;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 4px;
    line-height: 35px;
}

.name-wrapper {
    flex-direction: column;
    display: flex;
    flex: 1;
    text-transform: capitalize;
}

.property-name {
    color: #006a93;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}

.price-wrapper {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
}

.add-btn {
    position: fixed;
    right: 25px;
    bottom: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    border-radius: 100%;
    padding: 0px 18px;
    background: #9cc180;
    box-shadow: 0px 3px 6px #578257;
}

.trash-btn,
.delete-property {
    display: none;
}

.back-btn::before {
    content: '\02FF';
    position: absolute;
    left: 15px;
    font-size: 55px;
    top: 7px;
    line-height: 8px;
}

img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 3px;
}

img.trash-btn {
    float: right;
    width: 25px;
    height: 25px;
}

.needs-validation button {
    width: 100%;
    margin-top: 20px;
}

.no-result {
    margin-top: 75px;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
}